.footer{
    width: 100%;
    max-width: 1024px;
    font-size: 12px;
}
.fLists{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.flist{
    list-style: none;
    padding: 0;
}
.listItem {
    margin-bottom: 10px;
    color: #040476;
    font-weight: bold;
    cursor: pointer;
}